body {
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

body {
    font-family: lato;
    color: white;
}

.pic-size2 {
    height: 200px;
    max-height: 220px;
    width: auto;
    height: auto;
    align-items: center;
}

html {
    height: 100%;
}

#content {
    text-align: center;
    
}

.environmate-index {
    font-size: 450%;
}

.mission-statement {
    font-size: 100%;
    color: black;
    font: sans-serif;
}

.footer-text {
    color: black;
    font-size: 1em;
}

.results {
    height: 80%;
    position: fixed;
    overflow: auto;
}

.index{
    margin: 5%;
    padding: 15px;
}
.container {
    margin: 30px;
    padding: 10px;
}

.card-center {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 125px;
    position: fixed;
    overflow: auto;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  @media (min-width: 993px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        bottom: 5%;
        top: 22%;
        transform: translatex(-50%);
    }
    .welcome{
        margin-left: 80%;
    }
}

.dropdown-width {
    size: 50px;
}

.post-span-button {
    float: right;
}

.nav-search-bar {
    width: 100%;
}

.about-nav {
    margin-left: auto;
}

.post-nav {
    margin-right: auto;
}

.most-recent {
    height: 440px;
    width: 200px;
    overflow: auto;
    position: relative;
}

.post-incident-container {
    margin: auto;
    width: 600px;
    min-width: 400px;
    max-width: 1000px;
    padding: 25px;
    padding-bottom: 0px;
}


.post-incident-section {
    float: left;
}