<!--
    Author: Rajdeep Riar
    Purpose/Function: includes nav bar, along wiht cookie script for user log in
    Date: 8/8/2019
 -->

<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-145593934-1', 'auto');
    ga('send', 'pageview');
</script>

<!-- End Google Analytics -->

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>  
<p class="text-muted bg-dark mx-0 my-0" style="text-align: center;"><small>SFSU Software Engineering Project CSC
        648-848, Summer 2019. For Demonstration Only</small></p>
<% include modals.ejs%>
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mx-1 my-1" href="/">EnvironMate</a>
    <a class="navbar text-secondary" href="/about">About</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse mx-0 my-1" id="navbarSupportedContent">

        <div>
            <ul class="navbar-nav">
                    <div class="nav-item post-nav my-1">
                        <a href="/incidents/report"><button class="btn btn-outline-danger btn-md">Post Incident</button></a>
                        <!-- <a class="nav-link post-nav" href="/incidents/report">Post Incident</a> -->
                    </div>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav navbar-center">
                <div class="nav-item">
                    <form name="search" action="/results" class="form-inline">
                        <input name="search_text" type="text" class="form-control mr-sm-2" aria-label="Text input with dropdown button"
                            placeholder="Search" maxlength="50" id="search_text">
                        <div class="input-group-append">
                            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" 
                                    onclick="captureSearch(document.getElementById('search_text').value)">
                        </div>

                    </form>
                </div>
            </ul>
        </div>
        
        <ul class="navbar-nav welcome">
            <div id="authContainer">
                    <ul class="navbar-nav ml-auto">
                        <!-- Button trigger for log in -->
                        <li class="nav-item post-nav" id="welcomeMsgCont">
                            <span id="welcomeMsg" style="color: white"></span>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                    <!-- Button trigger for sign up -->
                        <li class="nav-item signup-nav mx-1 my-1">
                            <form action="/signout" method="post">
                                <button type="submit" id="signout" class="btn btn-outline-primary btn-md">
                                    Log Out
                                </button>
                            </form>
                        </li>
                    </ul>

            </div>
        </ul>
        <ul class="navbar-nav ml-auto">
            <div id="unauthContainer">
                <ul class="navbar-nav ml-auto">
                    <!-- Button trigger for log in -->
                    <li class="nav-item post-nav mx-1 my-1">
                        <button type="button" id="loginPopupButton" class="btn btn-outline-primary btn-md login-nav" data-toggle="modal" data-target="#loginPopup" value="signout">
                        Log In
                        </button>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <!-- Button trigger for sign up -->
                    <li class="nav-item signup-nav mx-1 my-1">
                        <button type="button" class="btn btn-outline-primary btn-md signup-nav" data-toggle="modal"
                            data-target="#signupPopup">
                            Sign Up
                        </button>
                    </li>
                </ul>
            </div>
        </ul>
    </div>

</nav>

<script>
    // To capture the search value from searchbar
    var captureSearch = function(searchValue){
        if(searchValue != null){
            console.log(searchValue);
            sessionStorage.setItem('search', searchValue)
        }
    }
    // To update the search bar with value captured
    var updateSearch = function(){
        var search = sessionStorage.getItem('search');
        console.log(search);
        //Display the search bar with the value only in results page and incident detail page
        if( window.location.pathname == "/results" || window.location.pathname.substr(0,15)== "/incidents/view" ){
            document.getElementById('search_text').value = search;
        }
        // If user navigates to home reset the search value
        else if(window.location.pathname == "/"){
            captureSearch("");
        }
        
    }
    

    function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

    // get cookie from URI encoded cookie obj.
    // @param cname is the name of a cookie (ie. 'user')
    // @return string representation of cookie object that was set.
    var getCookie = function (cname) {
        var cookie = readCookie(cname);
        if(cookie === null){
            return null;
        }
        var decodedCookie = decodeURIComponent(cookie);
        var cookieJson = [];
        var frontIndex;
        var endIndex = decodedCookie.length-1;
        console.log(endIndex);
        console.log("decoded cookie : " + decodedCookie);
        for (let i = 0; i < decodedCookie.length; i++) {
            if (decodedCookie[i] === "{") {
                frontIndex = i;
                console.log(frontIndex);
            }
            else if(decodedCookie[i] ==="}"){
                endIndex = i+1;
                console.log(endIndex);
            }
        }
        console.log(decodedCookie.substring(frontIndex, endIndex));
        return decodedCookie.substring(frontIndex, endIndex);
    }

    // function that update auth-related nav components/buttons
    var updateAuthButtons = () =>{
        
        var cookie = getCookie('user');
            if (!cookie) {
                //hide authContainer
                $('#authContainer').hide();
                //show authContainer
                $('#unauthContainer').show();
                // loginUnsuccessful(); undefined function?
            } 
            else {
                try{
                    let parsed = JSON.parse(cookie);
                    $(document).ready(function () {
                    //set welcome message
                    let welcomeMessage = "Welcome, " + parsed.firstName;
                    $('#welcomeMsg').text(welcomeMessage);
                    //show authContainer
                    $('#authContainer').show();
                    $('#unauthContainer').hide();
                    // console.log(parsed.firstName);
                    });
                }
                catch(error){
                    console.log(error);
                    //hide authContainer
                    $('#authContainer').hide();
                    //show authContainer
                    $('#unauthContainer').show();
                    // loginUnsuccessful(); undefined function?
                }
            }
        }
    // each reloads update buttons
    //calls to update search box
    document.onchange = updateSearch();
    document.onchange = updateAuthButtons();
</script>