
<!--
    Author: Angie Martinez
    Purpose/Function: Provides log in and sign up forms through modals.
    Date: 8/7/2019
 -->

 <!-- Sign Up Modal -->
    <div class="modal fade signupPopup" id="signupPopup" tabindex="-1" role="dialog" aria-labelledby="signupPopupTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupPopupTitle">Sign Up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>

                <!-- Sign up Form -->
                 <form form class="needs-validation" novalidate name ="signup" method="post" action="/signup">
                    <div class="modal-body">
                        <div class="form-row pb-2">
                            <div class="col-md-6">
                                <label for="firstName">First name</label>
                                <input type="text" name="firstName" class="form-control" id="firstName" placeholder=" Enter First name" required>
                                <div class="invalid-feedback">
                                    Please enter your first name.
                                </div>
                            </div>   
                            <div class="col-md-6">
                                <label for="lastName">Last name</label>
                                <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Enter Last name" required>
                                <div class="invalid-feedback">
                                    Please enter your last name.
                                </div>
                            </div>    
                        </div>        

                        <div class="form-row py-2 px-1">    
                            <label for="userEmail">Email</label>
                            <input type="email" name="userEmail" class="form-control" id="userEmail" placeholder="Enter Email" required>
                            <div class="invalid-feedback">
                                Please enter a valid email.
                            </div>
                        </div>

                        <div class="form-row py-2">
                            <div class="col-md-6">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="signup_password" placeholder="Enter Password" required minlength="5">
                                <div class="invalid-feedback">
                                    Passwords must match and be at least 5 characters long.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Enter Password" required minlength="5">
                                <div class="invalid-feedback">
                                    Passwords must match and be at least 5 characters long.
                                </div>
                            </div>
                        </div>  

                        <div class="form-row py-3 px-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="termsAndCond" required>
                                <label class="form-check-label" for="termsAndCond">
                                    I agree to the Terms and Conditions.
                                </label>
                                <div class="invalid-feedback">
                                    You must confirm that you agree to the Terms and Conditions.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="signupBtn">Sign Up</button>
                    </div>

                </form>
                <!-- End of Sign Up Form -->
                <div class="d-flex justify-content-center" div id="log-in-switch-message">
                    <p><small>Already have an account? <a data-target="#loginPopup" data-toggle="modal" data-dismiss="modal" class="d-flex justify-content-center form-text text-muted registered_user" id="log-in-switch-txt" 
                    href="#loginPopup">Log In</a></small></p> 
                </div>
            </div>
        </div>
    </div>

    <!-- End of Sign Up Modal -->



    <!-- Log In Modal -->
    <div class="modal fade" id="loginPopup" tabindex="-1" role="dialog" aria-labelledby="loginPopupTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginPopupTitle">Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="login" method="post" action="/login" onsubmit="loginSubmit()">
                    <div class="modal-body">
                        <div class="login-group">
                            <label for="signinEmail">Email address</label>
                            <input type="email" name="userEmail" class="form-control" id="signinEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="login-group py-2">
                            <label for="signinPassword">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="loginBtn">Log In</button>
                    </div>
                <div class="d-flex justify-content-center" id="forgotPassLink">
                    <p><small>Forgot your password? <a class="text-muted" id="forgotPassLink" 
                    href="#"> Click here.</a></small></p> 
                </div>

                </form>     
                <div class="d-flex justify-content-center" id="sign-in-switch-message">
                    <p><small>Don't have an account? <a data-target="#signupPopup" data-toggle="modal" data-dismiss="modal" class="d-flex justify-content-center form-text text-muted new_user" id="sign-up-switch-txt" 
                    href="#signupPopup"> Sign Up</a></small></p> 
                </div> 
            </div>
        </div>
    </div>
<!-- End of Log In Modal -->

